.cartao {
    box-shadow: 1px 1px 3px #cccccc;
}

.cartao:hover {
    box-shadow: 1px 1px 3px #aaaaaa;
}

#cartaoTopo {
    background: #e23918
}

#cartaoTopo p {
    color: #ffffff;
    font-size: small;
    text-align: center;
    font-weight: bold;
}

.span {
    text-decoration: line-through;
}